<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shop.content.mapper.PanelMapper">

    <select id="select" resultType="shop.common.pojo.TbPanel">
        select * from tb_panel
        <where>
            <if test="#{tbPanel.id} != null">
                and id = #{tbPanel.id}
            </if>
            <if test="#{tbPanel.position} != null">
                and position = #{tbPanel.position}
            </if>
            <if test="#{tbPanel.position} != null">
                and status = #{tbPanel.status}
            </if>
        </where>
         order by #{order};
    </select>
</mapper>